.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 16px 120px 100px 120px;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    outline: none;
    overflow-y: auto;
}

.modal-header {
    width: 100%;
    display: flex;
}

.modal-header img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.modal-header span {
    margin-left: 10px;
}

.modal-main {
    width: 100%;
    height: 85%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.modal-main img {
    height: 100%;
}

.modal-footer {
    width: 100%;
    gap: 60px;
    display: flex;
    justify-content: start;
}

.modal-footer .img-view-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-footer .img-view-info span:first-child {
    color: #777;
}

.close-modal img {
    width: 24px;
    height: 24px;

    position: absolute;
    top: 25px;
    right: 25px;
}
