.topic {
    padding-top: 10px;
}

.topic-list {
    list-style-type: none;
    display: flex;
    column-gap: 30px;
    padding: 0;
    margin: 0;

    overflow: scroll;
    scrollbar-width: none;
}

.topic-list li {
    display: flex;
    padding: 20px 0;
    white-space: nowrap;
    cursor: pointer;
}
